.footer {
    width: 100%;
    position: relative;
    background-color: #3b3b3b;
    padding-bottom: 30px;
}

.logo {
    position: relative;
    background-image: url('/static/images/logo-01.svg');
    background-repeat: no-repeat;
    width: 13.4vw;
    padding: 10px;
}

#foot-desc {
    padding-top: -70px;
    margin: 2% 0 0 0;
    /*width: 40vw;*/
    font-size: 12px;
    font-weight: 300;
    line-height: 1.59;
    text-align: left;
    color: #ffffff;
}

#number {
    padding-top: 50px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 200;
    text-align: right;
    color: #ffffff;
}

#mail {
    padding-top: 5px;
    float: right;
    position: relative;
    top: -15px;
    font-size: 18.2px;
    font-weight: 200;
    text-align: right;
    color: #ffffff;
}