{% load staticfiles %}
<!doctype html>
<head>
     <link rel="shortcut icon"  href={% static "images/u8.png" %} type="image/x-icon">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static "js/jquery.maskedinput.min.js"  %}"></script>
<script href="{% static "js/bootstrap.js" %}" rel="stylesheet"></script>
<title>ArtLife</title>
<div id="app"></div>
<script src="{% static "js/app.js" %}" type="text/javascript"></script>
<script src="{% static "js/main.js" %}" type="text/javascript"></script>
