@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto';
}

input {

}

body {
    overflow-x: hidden;
}

.notify-container {
    position: fixed;
    right: 1%;
    z-index: 60;
}

.notify-item {
    width: 100%;
    height: 20%;
    margin: 5px 10px;
    color: #FFF;
    border-radius: 5px;
}

.notify-item:hover {
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
    font-family: 'Lora', serif;
    margin: 10px;
    opacity: .8;
    color: black;
}

.notify-item.success {
    background-color: #9acfea;
}

.notify-title {
    color: black;
    font-weight: 700;
}

.container {
    max-width: 900px;
}

.wrapper {
    min-height: 150px;
    z-index: 1;
}

#blur {
    overflow: hidden;
    background: url('/static/images/head-img.jpg') left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    box-sizing: border-box;
    animation-fill-mode: forwards;
}

@media (max-width: 700px) {
    #panel {
        z-index: 4;
        position: absolute;
        top: 50%;
        right: -40vw;
        margin: -40px 0 0 0;
        overflow: hidden;
    }

    #panel-content {
        z-index: 4;
        overflow: hidden;
        background: #EEE;
        border: 1px solid #CCC;
        width: 100vw;
        height: auto;
        float: right;
    }

}

@keyframes blur {

    0% {
        overflow: hidden;
        filter: blur(1px);
    }
    50% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
        filter: blur(40px);
    }
}

.logo {
    position: relative;
    background-image: url('/static/images/logo-01.svg');
    top: 35px;
}

.navbar-inverse {
    background-color: transparent;
}

#description {
    padding-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 120%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.59;
    text-align: left;
    color: #ffffff;
}

#head-nav {
    position: relative;
    padding-top: 15px;
    width: 33.6vw;
    font-size: 30px;
    font-weight: 200;
    text-align: left;
    color: #ffffff;
}

#showMessage {
    position: absolute;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.callback-panel {
    width: 300px;
    height: 30px;
    top: 60%;
    z-index: 5;
    overflow: hidden;
    right: -10%;
    transform: rotate(90deg);
    position: absolute;
    background-color: #8c8c8c;
    border-radius: 5px 5px;
}

#panel {
    z-index: 4;
    position: absolute;
    top: 300px;
    right: -40vw;
    margin: -40px 0 0 0;
    overflow: hidden;
}

#panel-content {
    z-index: 4;
    overflow: hidden;
    background: #EEE;
    border: 1px solid #CCC;
    width: 40vw;
    height: auto;
    float: right;
}

#panel-sticker {
    z-index: 4;
    width: 30px;
    height: 400px;
    top: 30%;
    right: 0;
    float: right;
    position: relative;
    padding: 3px 20px 3px 5px;
    margin: 0;
    cursor: pointer;
    background-color: #9acfea;
    border-radius: 5px 5px;
}

#select-holder {
    /*padding-left: 5%;*/
    margin-top: 0;
    width: 30%;
    display: inline-block;
    overflow: hidden;
}

.back-select {
    background-color: #9acfea;
    cursor: pointer;
    text-align: center;
    max-width: 150px;
    border-radius: 8%;
    width: 115px;
    /*min-width: 128px;*/
}

.select-name {
    color: black;
    margin: auto;
}

.selected {
    background-color: #8c8c8c;
}

.select-img {
    max-width: 89px;
    margin-bottom: 0;
    display: inline;
    /*min-height: 97px;*/
    /*min-width: 121px;*/
}
#product-in{
    width: 80%;
}
#product-holder {
    text-align: center;
    margin: 3% auto;
    padding-left:10%;
    padding-right: 5%;
    width: 100%;
}

.open-sticker {
    color: black;
    z-index: 4;
    position: relative;
    top: 30%;
    writing-mode: tb-rl;

}

.phone {
    position: relative;
    left: 58%;
    padding-bottom: 5%;
    padding-top: 10px;
}

.form-feedback {
    padding: 10px;
    width: 70%;
    margin: 15%;
    margin-top: 0;
    margin-bottom: 5%;
    height: 40px;
    border: none;
    background-color: white;
}

.button-submit {
    border: solid 0.5px;
    width: 150px;
    height: 34px;
    color: white;
    border-radius: 4px;
    background-color: #5aa3c9;
}

.navig-bar {
    width: 100%;
    z-index: 0;
    height: 300px;
}

#main-read {
    cursor: pointer;
    color: #212121;
    top: 0;
    text-decoration: none;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: #ffffff
}

li a {
    font-size: 14px;
    font-weight: 100;
    color: white;
    text-decoration: none
}

li a:hover, li a:focus {
    color: black;
    text-decoration: none;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.img-rounded {
    border-radius: 3px
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0%
    }
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav > li {
    position: relative;
    display: block
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee
}

.nav > li.disabled > a {
    color: #bbbbbb
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #bbbbbb;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 23px;
    border: 1px solid transparent
}

.navbar-brand {
    float: left;
    padding: 20.5px 15px;
    font-size: 17px;
    line-height: 23px;
    height: 64px
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none
}

.navbar-brand > img {
    display: block
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

/*@media (min-width: 768px) {*/
.navbar-toggle {
    display: none
}

.navbar-nav {
    margin: 10.25px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 23px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 23px
    }

    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none
    }
}

/**/
.navbar-nav {
    float: left;
    margin: 0
}

.navbar-nav > li {
    float: left
}

.navbar-nav > li > a {
    padding-top: 35px;
    padding-bottom: 20.5px
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 13.5px;
    margin-bottom: 13.5px
}

/*@media (min-width: 768px) {*/
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle
}

.navbar-form .form-control-static {
    display: inline-block
}

.navbar-form .input-group {
    display: inline-table;
    vertical-align: middle
}

.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
    width: auto
}

.navbar-form .input-group > .form-control {
    width: 100%
}

.navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle
}

.navbar-form .radio, .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle
}

.navbar-form .radio label, .navbar-form .checkbox label {
    padding-left: 0
}

.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0
}

.navbar-form .has-feedback .form-control-feedback {
    top: 0
}

/**/

/*@media (min-width: 768px) {*/
.navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

/**/

.navbar-btn {
    margin-top: 13.5px;
    margin-bottom: 13.5px
}

.navbar-btn.btn-sm {
    margin-top: 17px;
    margin-bottom: 17px
}

.navbar-btn.btn-xs {
    margin-top: 21px;
    margin-bottom: 21px
}

.navbar-text {
    margin-top: 20.5px;
    margin-bottom: 20.5px
}

/*@media (min-width: 768px) {*/
.navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px
}

/**/

@media (min-width: 768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
}
