
.closeButton {
    position: relative;
    left: 300px;
    width: 23px;
    height: 23px;
    text-align: center;
    /*top: 10px;*/
    cursor: pointer;
    color: white;
}

#ta {
    color: white;
    position: relative;
    top: -150px;
    width: 100%;
    z-index: 2;
    font-family: "Roboto";
    font-size: 14px;
    height: 300px;
}

.read-next {
    position: relative;
    top: -150px;
    cursor: pointer;
}


#rekv {
    cursor: pointer;
    position: relative;
    text-align: left;
    top: -130px;
    z-index: 2;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#info_rekv{
     top: -100px;
    position: relative;
    z-index: 4;
    color: white;
    height: 0;
    overflow: hidden;
}
td {
    padding-left: 30px;
}
table {
    position: relative;

    left: -20px;
}
.title {
    position: relative;
    z-index: 2;
    /*top: -150px;*/
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    color: white;
}

#show-info {
    max-width: 50%;
}

.inner-info {
    /*padding: 3%;*/
    /*border: 2px solid white;*/
    /*border-radius: 20px;*/
    width: 95%;
}
