
.logo-cont {
    position: relative;
    top: -180px;
    z-index: 2;
    max-width: 320px;
    /*max-height: 134px;*/
}

.closeButton {
    position: relative;
    left: 300px;
    width: 23px;
    height: 23px;
    text-align: center;
    /*top: 10px;*/
    cursor: pointer;
    color: white;
}

.read-next {
    position: relative;
    top: -150px;
    cursor: pointer;
}

.title {
    position: relative;
    z-index: 2;
    top: -120px;
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    color: white;
}

.mail-cont {
    top: -180px;;
    left: -25px;
    position: relative;
    font-size: 18.2px;
    font-weight: 200;
    text-align: right;
    color: #ffffff;
}

.cont-num {
    top: -180px;
    left: -25px;
    text-align: right;
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
}

.map {
    position: relative;
    top: -230px;
    z-index: 0;
    left: 0;
    /*height: 150%;*/
    width: 100vw;
}

.repres0 {
    position: relative;
    color: white;
    z-index: 3;
    left: -80px;
    top: -200px;
    width: 200px;
    cursor: pointer;
}

.repres1 {
    width: 200px;
    cursor: pointer;
    position: relative;
    color: white;
    left: 130px;
    top: -305px;

}

.repres2 {
    width: 200px;
    color: white;
    cursor: pointer;
    position: relative;
    left: 230px;
    top: -305px;
}

.repres3 {
    color: white;
    cursor: pointer;
    width: 200px;
    position: relative;
    left: 330px;
    top: -305px;
}

.repres4 {
    color: white;
    cursor: pointer;
    width: 200px;
    position: relative;
    left: 430px;
    top: -305px;
}

#show-info {
    max-width: 50%;
}

.inner-info {
    /*padding: 3%;*/
    /*border: 2px solid white;*/
    /*border-radius: 20px;*/
    width: 95%;
}

.grad {
    top: 0;
    left: 0;
    width: 100%;
    /*height: 200%;*/
    position: absolute;
    /*position: absolute;*/
    /*opacity: 1;*/
    -webkit-animation: cont 1s;
    animation: cont 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
    background: #212121;
}

@-webkit-keyframes cont {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cont {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#info {
    position: relative;
    top: -200px;
    color: white;
}

.info_in {
    position: relative;
    color: white;
}