
.indicators {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 40px;
    display: flex;
    /*margin-left: 10%;*/
    height: auto;
}
#ind-scroll{
    top: 10px;
    position: relative;
     background-color: #a0a0a0;
    height: 5px;
    margin-left: 10px;
}
.product-box {
    position: relative;
    width: 70px;
    height: 56px;
    -webkit-transition: transform 1s ease-in-out;
}
.product-box:hover {
transform: scale(2);
}

.arrow {
    width: 20px;
    height: 40px;
}

.adv {
    position: relative;
    top: -50px;
}

.img-in {
    height: 280px;
}

.close {
    color: white;
}

body {
    min-height: 200%;
}

#prod-but {
    margin-left: 20%;
}

.chevron::before {
    top: -200px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 30px;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 30px;
    color: black;
}

.chevron.right:before {
    position: relative;
    right: -90%;
    transform: rotate(45deg);
}

.chevron.left:before {
    position: relative;
    left: 5%;
    transform: rotate(-135deg);
}

.ind-img {
    cursor: pointer;
    width: 70px;
    margin-bottom: 5%;
}

.ind {
    width: 150px;
    display: inline-block;
    text-align: center;
}

.product {
    animation-fill-mode: forwards;
}

@keyframes nav_products {
    to {
        height: 18%;
    }
}

.name-ind {
    cursor: pointer;
}

.product-name {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    height: auto;
    font-family: 'Roboto';
    letter-spacing: 1px;
    text-align: left;
    color: #282828;
}

#myCarousel {
    width: 80%;
    height: 290px;
    margin-left: 12%;

}

#order {
    position: relative;
    /*float: right;*/
    /*left: -40%;*/
}

.present-prod {
    position: relative;
}

.product-desc {
    line-height: 1.5;
    padding-bottom: 5%;
    position: relative;
    font-size: 15px;
    font-weight: 100;
    width: 110%;
    text-align: left;
    color: black;
}

.product-block {
    width: 80%;
    height: 290px;
    position: relative;
    margin-left: 15%;
}
