@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

/*.img-news {*/
    /*width: 15vw;*/
/*}*/

#left-main {
    cursor: pointer;
    height: 20px;
    width: 10px;
}
.modal-content{
    box-shadow: none;
}
.img-circle {
    display: table;
    margin: 0 auto;
    /*align-self: center;*/
}

#image-main {
    position: relative;
    top: -90px;
    left: 67%;
    width: 242px;
}

.head-news {
    position: relative;
    top: 60px;
    width: 16.6vw;
    font-size: 30px;
    font-weight: 200;
    color: #353535;
    padding-bottom: 50px;
}

.news-block {
    position: relative;
    top: 10px;
    /*margin-bottom: 8.7vh;*/
}


.head {
    color: black;
    position: relative;
    top: 10px;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}
#main-read{
    zIndex: -1;
}
.main-cont {
    position: relative;
    top: -50px;
}

.main-button {
    width: 140px;
    height: 32px;
    border-radius: 4px;
    background-color: white;
    border: solid 0.5px #000000;
}

.main-button:hover {
    background-color: #9acfea;
}

.cont-in {
    text-align: center;
    /*margin: 0 auto;*/
    height: auto;
}

.font-adv {
    font-family: 'HelveticaNeueCyr';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #000000;
}

#close {
    position: absolute;
    top: -10%;
    right: 5%;
    width: 10%;
    height: 10%;
    background: blue;
    z-index: 99999;

}

.row p {
    line-height: 1.2;
    max-width: 195px;
    float: none;
    font-size: 11px;
    font-weight: 200;
    text-align: center;
    color: #000000;
    margin: 10px auto;
}

#mn-button {
    text-decoration: none;
    color: black;
}

#modal-button {
    position: relative;
    left: 40%;
    margin-top: 10px;
    margin-bottom: 28px;
}

.carousel-inner {
    margin: 0;
}

.img-responsive {

    max-height: 100px;
    width: 220px;
    padding-left: 10%;
    cursor: pointer;
}
#modal-close{
    position: absolute;
    left: 600px;
}
.btn{
    position: relative;
    left: 400px;
}
.title-resp {
    text-decoration: none;
    color: black;
    padding-left: 10%;
    cursor: pointer;
}

.title-resp:hover {
    color: blue;
}

#right-main {
    cursor: pointer;
    height: 20px;
    width: 10px;
}

.main-news {
    margin-top: 2%;
}

#news {
    position: relative;
    left: 2.5%;
    padding-top: 30px;
    width: 95%;
    padding-bottom: 100px;
    /*padding: 20px 20px 0 20px;*/
}

.modal-dialog {
    left: 0;
}

.ModalWindow {
    /*height: 100%; !* Full height *!*/
    overflow: auto; /* Enable scroll if needed */
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Параметры тени */
    border-color: inherit;
}

.container1 {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
}

#title {
    color: black;
    position: relative;
    text-align: center;
    padding: 20px 20px 10px 20px;
    text-decoration: none;
}

#img-news {
    position: relative;
    top: -100px;
    width: 100%;
}

.fon-mad {
    overflow: hidden;
    width: 100%;
    height: 200px;
    text-decoration: none;
}

#description_news {
    position: relative;
    padding: 10px 20px 20px 20px;
    color: black;
}

@keyframes main_nav {

    to {
        height: 45%
    }
}
